.gradient{
    -fx-background-color: linear-gradient(to bottom right, #b6dcff, #9178d1);
}
.white-form{
    -fx-background-color: #fff;
}
.head-label{
    -fx-border-color: #fff;
}
.login-btn{ //bottom login
-fx-background-color: linear-gradient(to bottom right, #b6dcff, #9178d1);
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;

}
.login-btn:hover{
    -fx-background-color: linear-gradient(to bottom right, #a6cff2, #8463ea);
}
.create-btn{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-border-color: #fff;
//-fx-border-width: 1px;
}
.create-btn:hover{
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}
.question-btn {
    -fx-font-size: 21px;
}
.signup-btn{ //bottom signup
-fx-background-color: linear-gradient(to bottom right, #b6dcff, #9178d1);
    -fx-background-radius: 5px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 20px;
}
.signup-btn:hover{
    -fx-background-color: linear-gradient(to bottom right, #a6cff2, #8463ea);
}